* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: aqua;
}
a:hover{
  color: azure;
}
/* header */ 

/* Mobile and Desktop Headers */
.headerMobile {
  display: none; /* Hide by default for desktop */
}


.header {
  width: 100%;
  background-color: #003366;
  padding: 1rem;
  display: flex;
  justify-content: start;
}

.header ul {
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  list-style-type: none;
}

.header a {
  color: aqua;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all ease 0.5s;
}

.header a:hover{
  color: azure;
  font-size: 1.25rem;
  transition: all ease 0.5s;
}

/* Responsive Styles for Mobile Header */
.menu-button,
.close-button {
  font-size: 2rem;
  color: azure;
  background: none;
  border: none;
}

.menu {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #003366;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transform: translateY(-100%); /* Hide the menu off-screen initially */
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.menu-active {
  transform: translateY(0); /* Move the menu back to its normal position */
}

.menu-active li{
  margin: 1.2rem;
}

.menu-active .close-button{
  position: absolute;
  top: 64px;
  right: 64px;
  font-size: 3rem;
}
.menu ul {
  list-style-type: none;
}

.menu a {
  color: white;
  font-size: 2rem;
  margin: 1rem;
  text-decoration: none;
}

/* Media Query: Mobile */
@media (max-width: 768px) {
  .header {
    display: none; /* Hide desktop header */
  }
  .headerMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #003366;
  }
}
/* footer */
.footer-section{
  text-align: center;
}
.icons {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  justify-content: center;
}

.icon-box {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.icon-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.icon-box:hover img {
  transform: scale(1.12);
  box-shadow: 0px 0px 12px azure;
  transition: all ease 0.3s;
}

button{
  background: transparent;
  border: none;
}
