* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #003366;
}
h2{
  color: rgb(0, 211, 0);
  text-align: center;
}
p {
  color: azure;
  padding: 1.5rem;
}

.intro {
  width: 96%;
  margin: 1rem 2%;
  background: url('../pic/index/baky/bakyHeader.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: azure;
  height: 650px;
  padding-top: 2rem;
  box-shadow: 0 0 25px rgb(0, 0, 0),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  overflow: hidden;
}

section {
  padding: 20px;
  text-align: center;
}
.guide-pic {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.slider {
  position: relative;
  height: auto;
  height:auto;
  width: 90%;
  margin: 1rem auto;
  overflow: hidden;
  background: transparent;
}

.slides {
  display: flex;
  transition: 0.5s ease;
}


.slide{
  width: 100%; /* Each slide takes up full width */
  height: auto; /* Match the height of the container */
  flex-shrink: 0;
  display: flex; /* To center the image */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  }

.slide img{
  width: 100%; /* Make the image take up the full width */
  height: auto; /* Maintain aspect ratio */
  max-height: 680px; /* Ensure images don't exceed the max height of the slider */
  object-fit: cover;
}

/* Slider button style */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  font-size: 2rem;
  border-radius: 50%;
}

/* Left button positioning */
.prev-btn {
  left: 10px;
}

/* Right button positioning */
.next-btn {
  right: 10px;
}

/* Button hover effect */
.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .slider-btn {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}

/* Media query for medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .slider{
    height: 680px;
    width: 70%;
  }
  .slider-btn {
    padding: 0.8rem;
    font-size: 1.8rem;
  }
}

/* Media query for larger screens */
@media (min-width: 1025px) {
  .slider{
    height: 600px;
    width: 480px;
  }
  .slider-btn {
    padding: 1rem;
    font-size: 2rem;
  }
}

.contact {
  padding: 1rem;
  width: 100%;
  color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.contact-text{
 text-align: right;
  color: tomato;
}
.contact-link{
  text-align: center;
}
.contact-text div, .contact-link div{
  margin: 0.5rem;
}

/* button top-to-scroll */
.scroll-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}
